:root {
  --bg-color-transition: #00536e;
  --bg-color: #114977;
  --text-color: #ffffff;
  --font-global: "Montserrat", sans-serif;
  --font-titles: "Quicksand", sans-serif;
}

body * {
  font-family: var(--font-global);
}

body {
  overflow-x: hidden;
}

.navigation {
  min-height: 10rem;
  background: var(--bg-color);
  padding: 1rem;
  display: grid;
  place-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;
  position: relative;
}

menu {
  display: none;
  animation: opacity 1s forwards;
  opacity: 0;
}

.navigation ul {
  display: grid;
  gap: 1rem;
  list-style: none;
  align-items: center;
}

menu a {
  text-decoration: none;
}

.navigation ul li {
  color: var(--text-color);
  font-size: 1.6rem;
  background-color: #081f52;
  padding: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 500;
}

.logo {
  width: 22rem;
  height: 7.4rem;
}

#burger {
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.icons i {
  font-size: 2.4rem;
}

.icons i:hover {
  filter: grayscale(100%);
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .navigation ul li {
    background: none;
  }

  .navigation ul {
    background: none;
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  .icons {
    padding-bottom: 0;
  }

  i#burger {
    display: none;
  }
  menu {
    display: block;
  }
  menu > ul > li {
    display: inline-block;
  }

  .navigation ul li.onActive::before {
    content: "";
    position: absolute;
    width: 11.5rem;
    height: 0.3rem;
    background-color: var(--text-color);
    bottom: 0;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }
}

.row-1 {
  width: 19rem;
  height: 0.3rem;
  background-color: #114977;
  border-radius: 2rem;
}

.row-2 {
  width: 9rem;
  height: 0.3rem;
  background-color: #007ba5;
  border-radius: 2rem;
}

.title-about-us {
  margin-top: 1rem;
  display: grid;
  place-items: center;
  place-content: center;
  gap: 1rem;
}

.title-about-us h1 {
  color: var(--bg-color);
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  font-family: var(--font-titles);
  letter-spacing: 3px;
}

.content-about-us {
  margin-top: 1rem;
  padding: 1.3rem;
  display: grid;
  gap: 2rem;
}

.content-about-us h2 {
  font-size: 3rem;
  font-family: var(--font-titles);
  font-weight: 600;
  color: #383838;
}

.content-about-us p {
  font-size: 1.4rem;
  font-family: var(--font-global);
  font-weight: 400;
  color: #111;
}

.team {
  width: 100%;
  height: 27rem;
  border-radius: 0.6rem;
  -webkit-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  opacity: 0;
  animation: opacity 3s forwards ease-in-out;
}

.about-us-infos {
  padding: 1rem;
  border-top: 0.1rem solid #d3d3d3;
  border-bottom: 0.1rem solid #d3d3d3;
  display: flex;
  align-items: center;
  gap: 7rem;
}

.about-us-infos-circle {
  flex-basis: 5rem;
  height: 5rem;
  background: #1149777c;
  border-radius: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us-infos span {
  font-family: var(--font-global);
  font-weight: 500;
}

.card {
  width: 100%;
  height: 30rem;
  background-color: #00536e;
  transform: skew(10deg, 10deg, 10deg);
}

footer {
  background-color: #282828;
  min-height: 50vh;
}

.footer-contact-sub {
  /* position: absolute; */
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  justify-content: center;
}

.footer-contact-sub i {
  padding: 1rem;
  justify-content: center;
}

.footer-contact {
  text-align: center;
  justify-content: center;
}

.footer-content img {
  width: 100%;
  height: 11.5rem;
}

.footer-menu {
  list-style: none;
  display: grid;
  gap: 1.4rem;
  text-align: center;
}

.footer-menu-active {
  color: var(--bg-color);
}

.footer-menu li {
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 500;
}

.footer-menu li.footer-menu-active {
  color: var(--bg-color);
}

.footer-contact p {
  font-size: 1.3rem;
  color: #ffffff;
  width: 25rem;
  margin-top: 1rem;
}

.footer-contact h4 {
  font-weight: 600;
  color: var(--text-color);
  font-size: 1.8rem;
}

.footer-content {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;
}

.footer-developed {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* padding: 2rem;   */
}

.footer-developed p {
  font-size: 1.3rem;
  color: #ffffff;
}

.row-white {
  background: #ffffff;
  width: 90%;
  height: 0.1rem;
  margin: 1rem 1rem;
}
