:root {
  --bg-color-transition: #00536e;
  --bg-color: #114977;
  --text-color: #ffffff;
  --font-global: "Montserrat", sans-serif;
  --font-titles: "Quicksand", sans-serif;
}

body * {
  font-family: var(--font-global);
}

body {
  overflow-x: hidden;
  width: 100%;
}

.navigation {
  min-height: 10rem;
  background: var(--bg-color);
  padding: 1rem;
  display: grid;
  place-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;
  position: relative;
}

menu {
  display: none;
  animation: opacity 1s forwards;
  opacity: 0;
}

.navigation ul {
  display: grid;
  gap: 1rem;
  list-style: none;
  align-items: center;
}

menu a {
  text-decoration: none;
}

.navigation ul li {
  color: var(--text-color);
  font-size: 1.6rem;
  background-color: #081f52;
  padding: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 500;
}

.logo {
  width: 22rem;
  height: 7.4rem;
}

#burger {
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.icons i {
  font-size: 2.4rem;
}

.icons i:hover {
  filter: grayscale(100%);
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .navigation ul li {
    background: none;
  }

  .navigation ul {
    background: none;
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  .icons {
    padding-bottom: 0;
  }

  i#burger {
    display: none;
  }
  menu {
    display: block;
  }
  menu > ul > li {
    display: inline-block;
  }

  .navigation ul li.onActive::before {
    content: "";
    position: absolute;
    width: 11.5rem;
    height: 0.3rem;
    background-color: var(--text-color);
    bottom: 0;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }
}

.row-1-title {
  width: 19rem;
  height: 0.3rem;
  background-color: #d9dce0;
  border-radius: 2rem;
}

.row-2-title {
  width: 9rem;
  height: 0.3rem;
  background-color: #d5dadd;
  border-radius: 2rem;
}

.row-1 {
  width: 19rem;
  height: 0.3rem;
  background-color: var(--bg-color);
  border-radius: 2rem;
}

.row-2 {
  width: 9rem;
  height: 0.3rem;
  background-color: var(--bg-color);
  border-radius: 2rem;
}

.page-header {
  width: 100%;
  height: 65rem;
  overflow:hidden;
}

.team-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  position: relative;
  background-image: url(/assets/images/team/team2.JPG);
  background-position-y: 90%;
}

.overlay-header {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #081330 0%, #414141 100%);;
  position: absolute;
  opacity: 0.35;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.conheca-nosso-time {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

.conheca-nosso-time .titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.conheca-nosso-time .titulo h1 {
  font-weight: 300;
  font-size: 4rem;
  font-family: var(--font-titles);
  letter-spacing: 3px;
}

.apresentacao-time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 8rem 0 0rem 0;
}

.carrossel {
  --departamento-atual: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carrossel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  margin: 0.5rem;
  cursor: pointer;
  z-index: 1;
  border: none;
  background-color: transparent;
}

.button-next {
  right: 0;
}

.departamentos {
  display: flex;
  height: 100%;
  width: 100%;
  transition: transform 0.5s;
  transform: translateX(calc(-100% * var(--departamento-atual)));
}

.departamento {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*background-color: #00536e;*/
}

.departamento h3 {
  letter-spacing: 3px;
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 500;
  font-family: var(--font-titles);
  color:#081330;
  text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.75);
}

.foto-departamento{
  width: 80%;
  height: 90%;
  margin: 3rem  5rem 5rem 5rem;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.foto-presidencia {
  background-image: url("/assets/images/foto-departamentos/presidencia.jpg");
}

.foto-gente-gestao {
  background-image: url("/assets/images/foto-departamentos/gente-gestao.jpeg");
  background-position-y: center;
  background-position-x: 70%;
}

.foto-negocios {
  background-image: url("/assets/images/foto-departamentos/negocios.jpeg");
  background-position-y: 30%;
  background-position-x: 60%;
}

.foto-produto {
  background-image: url("/assets/images/foto-departamentos/produto.jpeg");
  background-position-y: 38%;
  background-position-x: center;
}












.title-about-us {
  margin-top: 1rem;
  display: grid;
  place-items: center;
  place-content: center;
  gap: 1rem;
  /*margin-bottom: 100px;*/
  z-index: 2;
  transition: scale 1s ease;
}

.title-about-us:hover {
  scale: 1.3;
}

.title-about-us h1 {
  color:#ffffff;
  text-align: center;
  /*font-size: 4.5rem;
  font-weight: 650;*/
  font-weight: 300;
  font-size: 5rem;
  font-family: var(--font-titles);
  letter-spacing: 4px;
  /*text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.75);*/
  cursor:default;
}

.content-about-us {
  max-width: 100%;
  margin-top: 5rem;
  padding: 1.3rem;
  gap: 2rem;
}

.content-about-us h2 {
  font-size: 3rem;
  font-family: var(--bg-color);
  font-weight: 600;
  color: #383838;
}

.content-about-us p {
  font-size: 1.4rem;
  font-family: var(--font-global);
  font-weight: 400;
  color: #111;
}

.team {
  width: 100%;
  height: 27rem;
  border-radius: 0.6rem;
  -webkit-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  opacity: 0;
  animation: opacity 3s forwards ease-in-out;
}

.content-title {
  margin: 1rem 0 4rem 0;
  display: grid;
  place-items: center;
  place-content: center;
  gap: 1rem;
}

.content-title h2 {
  color: var(--bg-color);
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  font-family: var(--font-titles);
  letter-spacing: 3px;
}

.infos {
  display: flex;
  justify-content: center;
  padding: 0 10rem 0 10rem;
}

.infos p {
  margin: 3rem 0 3rem 0;
  font-size: 1.9rem;
}

.nossa-empresa {
  margin: 0 0 3rem 0;
}

.about-us-infos {
  padding: 1rem;
  border-top: 0.1rem solid #d3d3d3;
  border-bottom: 0.1rem solid #d3d3d3;
  display: flex;
  align-items: center;
  gap: 7rem;
}

.about-us-infos-circle {
  flex-basis: 5rem;
  height: 5rem;
  background: #1149777c;
  border-radius: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us-infos span {
  font-family: var(--font-global);
  font-weight: 500;
}

.cards {
  min-width: 100%;
  height: 50rem;
  background-color: #00536e;
  clip-path: polygon(9% 0, 100% 0, 100% 100%, 0% 100%);
}

.mvv {
  width:100%;
  height:100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 22%;
  min-width: 250px;
  height: 74%;
  margin-left: 6rem;
  margin-right: 2rem;
}

.card-content {
  width:100%;
  height:100%;
  background-color: #70a2e0;
  border-radius: 25px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-content .back {
  padding:3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #70a2e0;
  /*background: rgb(63,121,193);
  background: linear-gradient(90deg, rgba(63,121,193,1) 39%, rgba(5,44,170,1) 100%);*/
  transform: rotateY(180deg);
  cursor: default;
}

.card-content .front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: #70a2e0;
  color: white;
  cursor: default;
  /*background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 61%, rgba(46,70,189,1) 100%);*/
}

.card-content .front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 25px;
  box-shadow: 10px 5px 5px 2px #081330;
}

.card-content .front span {
  font-size: 5rem;
  font-family: Oswald;
  letter-spacing: 0.3rem;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.75);
}

.card-content .back p, li{
  text-align: center;
  font-size: 1.75rem;
  color: white;
  text-shadow: 0.04rem 0.04rem rgba(0, 0, 0, 0.75);
}

.card-content .back li{
  text-align: start;
  font-size: 1.75rem;
}

.card:hover .card-content {
  transform: rotateY(180deg);
  /*box-shadow: 2px 5px 5px 10px #081330;*/
}

.meet-team {
  width: 100%;
  margin-top: 1rem;
  display: grid;
  place-content: center;
  place-items: center;
  gap: 1.5rem;
}

.meet-team h1 {
  color: var(--bg-color);
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  font-family: var(--font-titles);
  letter-spacing: 3px;
}

.president {
  min-height: 50vh;
  margin-top: 1rem;
}

.president .content {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 2rem;
}

.president .content h2 {
  font-family: var(--font-titles);
  color: #383838;
}

.president-photo {
  width: 100%;
  height: 50rem;
  border-radius: 0.6rem;
  -webkit-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  opacity: 0;
  animation: opacity 3s forwards ease-in-out;
  position: relative;
}

.president .content .wrapper {
  position: relative;
  overflow: hidden;
}

.president .content .wrapper .overlay:hover {
  opacity: 0.8;
}

.president .content .wrapper .overlay h2 {
  color: var(--text-color);
}

.president .content .wrapper .overlay a {
  padding: 1rem;
  background-color: var(--bg-color);
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.president .content .wrapper .overlay a > i {
  font-size: 3rem;
}

.president .content .wrapper .overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #111;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  border-radius: 0.3rem;
  opacity: 0;
  transition: 0.5s ease;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
}

footer {
  background-color: #282828;
  min-height: 50vh;
}

.footer-contact-sub {
  /* position: absolute; */
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  justify-content: center;
}

.footer-contact-sub i {
  padding: 1rem;
  justify-content: center;
}

.footer-contact {
  text-align: center;
  justify-content: center;
}

.footer-content img {
  width: 100%;
  height: 11.5rem;
}

.footer-menu {
  list-style: none;
  /*display: grid;*/
  gap: 1rem;
  display: flex;
  flex-flow:column wrap;
  align-items: flex-start;
  text-align: center;
}

.footer-menu-active {
  transition: 0s;
  cursor: pointer;
}

.footer-menu-active:hover{
  color: var(--bg-color);
}


.footer-menu li {
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 500;
}

/*
.footer-menu li.footer-menu-active {
  color: var(--bg-color);
}
*/

.footer-contact p {
  font-size: 1.3rem;
  color: #ffffff;
  width: 25rem;
  /*margin-top: 1rem;*/
}

.footer-contact h4 {
  font-weight: 600;
  color: var(--text-color);
  font-size: 1.8rem;
  margin-bottom: 1em;
}

.footer-content {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;
}

.footer-developed {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* padding: 2rem;   */
}

.footer-developed p {
  font-size: 1.3rem;
  color: #ffffff;
}

.row-white {
  background: #ffffff;
  width: 90%;
  height: 0.1rem;
  margin: 1rem 1rem;
}

@media screen and (max-width: 1100px) {

  .cards {
    height: fit-content;
    clip-path: none;
  }

  .mvv {
    height: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 60%;
    height: 30rem;
    margin: 5rem 0 5rem 0;
  }

  .apresentacao-time {
    height: 90vh;
  }

  .foto-departamento {
    background-position: center;
  }

  .infos {
    padding: 0 5% 0 5%;
  }
}

@media screen and (max-width: 720px) {
  .foto-departamento{
    width: 100%;
    height: 100%;
    margin: 3rem  5rem 5rem 5rem;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) {
  .title-about-us {
    margin-top: 2rem;
  }
  .infos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .team {
    width: 56rem;
    height: 40rem;
  }
}
