:root {
  --bg-color-transition: #00536e;
  --bg-color: #114977;
  --text-color: #ffffff;
  --font-global: "Montserrat", sans-serif;
  --font-titles: "Quicksand", sans-serif;
}

body * {
  font-family: var(--font-global);
}

body {
  overflow-x: hidden;
}

/* Cabeçalho */

.navigation {
  min-height: 10rem;
  background: var(--bg-color);
  padding: 1rem;
  display: grid;
  place-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;
  position: relative;
}

menu {
  display: none;
  animation: opacity 1s forwards;
  opacity: 0;
}

.navigation ul {
  display: grid;
  gap: 1rem;
  list-style: none;
  align-items: center;
}

menu a {
  text-decoration: none;
}

.navigation ul li {
  color: var(--text-color);
  font-size: 1.6rem;
  background-color: #081f52;
  padding: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-weight: 500;
}

.logo {
  width: 22rem;
  height: 7.4rem;
}

#burger {
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.icons i {
  font-size: 2.4rem;
}

.icons i:hover {
  filter: grayscale(100%);
}

.slider {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  position: relative;
}

.slider img {
  width: 100%;
  position: absolute;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s;
}

.slider img.selected {
  opacity: 1;
}

.overlay-slider-bg {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider .content {
  display: grid;
  gap: 2rem;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  place-content: center;
}

.slider .content p {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--text-color);
  margin-top: 4rem;
  font-size: 1.5rem;
}

.slider .content h3 {
  color: var(--text-color);
  margin-top: 4rem;
  font-weight: 300;
  font-size: 5rem;
}

.slider .content h4 {
  font-weight: 500;
  color: var(--text-color);
  margin-top: 4rem;
  font-size: 1.5rem;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}

/* Main */

.about-us {
  height: 316rem;
  width: 100%;
  background: url("../images/overlay/image3.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.overlay-about-us {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.8;
  z-index: 1;
}

.about-us .content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  z-index: 2;
  padding: 2rem 2rem;
}

.about-us .content .wrapper {
  display: grid;
  gap: 2.3rem;
  place-content: center;
  place-items: center;
}

.about-us .content .wrapper .texts {
  display: grid;
  gap: 2.3rem;
  transform: translateX(-10rem);
  opacity: 0;
  animation: slide-right 3s forwards;
  text-align: center;
}

.about-us .content .wrapper h1 {
  color: var(--bg-color);
  font-size: 4rem;
  font-weight: 600;
  position: relative;
}

.about-us .content .wrapper h1::before {
  content: "";
  position: absolute;
  width: 27.5rem;
  height: 0.6rem;
  background-color: var(--bg-color);
  bottom: -1rem;
  border-radius: 3rem;
}

.about-us .content .wrapper p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

.btn-about-us {
  padding: 0.8rem;
  outline: none;
  border: 0;
  background: var(--bg-color);
  border-radius: 0.7rem;
  width: 20rem;
  height: 4rem;
  font-weight: 800;
  font-size: 1.3rem;
  color: var(--text-color);
  text-transform: uppercase;
  -webkit-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin: auto;
}

.team {
  width: 100%;
  height: 27rem;
  border-radius: 0.6rem;
  -webkit-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  opacity: 0;
  animation: opacity 3s forwards ease-in-out;
}

/* Conheça Nossos Serviços */

.services {
  margin-top: 2rem;
}

.services .content-services h1 {
  color: var(--bg-color);
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  font-family: var(--font-titles);
  letter-spacing: 3px;
  position: relative;
}

.rows {
  margin-top: 1.3rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.row-1 {
  width: 19rem;
  height: 0.3rem;
  background-color: #114977;
  border-radius: 2rem;
}

.row-2 {
  width: 9rem;
  height: 0.3rem;
  background-color: #007ba5;
  border-radius: 2rem;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  gap: 2rem;
  opacity: 0;
  animation: opacity 3s forwards ease-in-out;
}

.card {
  padding: 1rem 2rem 1rem 1rem;
  width: 100%;
  height: fit-content;
  background-color: #007ba5;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  -webkit-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  display: flex;
  gap: 2rem;
}

.card .circle {
  width: 10rem;
  height: 10rem;
  border: 0.1rem solid #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 1rem;
}

.card:hover {
  background-color: var(--bg-color-transition);
  transition-delay: 0ms;
  transition-duration: 0.4s, 0.3s, 0.3s, 0.3s;
}

.cardContent {
  width: 70%;
}

.cardContent h3 {
  color: var(--text-color);
  font-weight: 400;
  font-size: 3.1rem;
  margin-top: 2rem;
}

.cardContent p {
  font-weight: 300;
  color: var(--text-color);
  margin-top: 1rem;
  font-size: 1.2rem;
  /* line-height: 1.4rem; */
  text-align: justify;
  line-height: 1.9rem;
}

/* Conheça as Vantagens */

.benefits {
  width: 100%;

  position: relative;
}

.benefits-content {
  position: absolute;
  z-index: 2;
  display: grid;
  place-content: center;
  place-items: center;
  width: 100%;
  gap: 1.5rem;
  margin-top: 2rem;
}

.benefits-content h1 {
  color: var(--bg-color);
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  font-family: var(--font-titles);
  letter-spacing: 3px;
}

.sub {
  color: var(--bg-color);
  text-align: center;
  font-family: var(--font-titles);
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
}

.benefitsCards {
  display: grid;
  gap: 3rem;
  margin: 3rem 6rem;
}

.benefitsCard {
  text-align: center;
  display: grid;
  gap: 1.5rem;
  padding: 1rem;
}

.benefitsCard:nth-child(1) {
  animation: slide-right 3s forwards;
  transform: translateX(-10rem);
  opacity: 0;
}

.benefitsCard:nth-child(2) {
  animation: slide-down 3s forwards;
  transform: translateY(2rem);
  opacity: 0;
}

.benefitsCard:nth-child(3) {
  animation: slide-left 3s forwards;
  transform: translateX(10rem);
  opacity: 0;
}

.benefitsCard i {
  font-size: 4rem;
}

.benefitsCard h4 {
  color: var(--bg-color);
  font-weight: 500;
  font-size: 3rem;
}

.benefitsCard p {
  font-weight: 400;
  margin-top: 1rem;
  font-size: 1.4rem;
  line-height: 2rem;
}

/* Nossos números */

.numbers {
  min-width: 100%;
  min-height: 15rem;
  background: url("../images/overlay/image5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  position: relative;
  z-index: 0;
  /*overflow: hidden;*/
}

.overlay-numbers {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(180deg, #114977 0%, #1149778c 100%);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.91;
  z-index: 1;
}

.numbers-content {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
  /* display: grid; */
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: end;
}

.numbers-content h2 {
  font-size: 6rem;
  color: var(--text-color);
  font-family: var(--font-titles);
  font-weight: 400;
  margin-top: 2rem;
  margin-left: 8rem;
}

.numbers-cards {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 6rem;
}

.number-card {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 2rem;
  width: 12rem;
  height: 9rem;
  background: var(--bg-color);
  border-radius: 0.3rem;
  -webkit-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
}

.number-card span {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 600;
}

.number-card h4 {
  /* font-size: 1.3rem;   */
  font-weight: 400;
  color: var(--text-color);
}

/*  Nosso Portfolio */

.portfolio {
  margin-top: 6rem;
}

.portfolio-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.portfolio .portfolio-content h1 {
  color: var(--bg-color);
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  font-family: var(--font-titles);
  letter-spacing: 3px;
}

.portfolio .portfolio-content .wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  place-content: center;
  place-items: center;
  gap: 3rem;
  padding: 2rem;
}

.portfolio .portfolio-content .wrapper a {
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio-content .wrapper a:hover .overlay {
  opacity: 0.8;
}

.portfolio .portfolio-content .wrapper a img {
  width: 100%;
  height: 25.9rem;
  border-radius: 0.3rem;
  animation: opacity 3s forwards;
  opacity: 0;
  overflow: hidden;
}

.portfolio .portfolio-content .wrapper a .overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #111;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  border-radius: 0.3rem;
  opacity: 0;
  transition: 0.5s ease;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-around;
}

.btn-portfolio {
  padding: 0.8rem;
  outline: none;
  border: 0;
  background: var(--bg-color);
  border-radius: 0.7rem;
  width: 20rem;
  height: 4rem;
  font-weight: 800;
  font-size: 1.3rem;
  color: var(--text-color);
  text-transform: uppercase;
  -webkit-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.btn-portfolio:visited {
  background: #ff0000;
}

/* Wave */

svg {
  margin-top: -0.99px;
}

.waveContainer {
  margin-top: 2.5rem;
  transform: rotate(180deg);
}

.wave {
  fill: var(--bg-color);
}

/* Depoimentos */

.depositions {
  /* background: url("../images/overlay/image1.jpg");   */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 65vh;
  z-index: 1;
  text-align: center;
}

.depositions-overlay {
  /* border: #00536e solid 0.1rem; */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #114977;
  /* opacity: 0.93; */
  z-index: 0;
}

.mySlides {
  display: none;
}

.text {
  font-size: 1.5rem;
  padding: 0.8rem 1.2rem;
  bottom: 0.8rem;
  width: 100%;
  text-align: center;
}
/* slideshow-container */
.butt-depositions {
  align-items: center;
  justify-content: center;
  display: flex;
}

.depositions-btts {
  margin-top: 0;
  position: absolute;
  width: 100%;
  height: 10rem;
  float: initial;
  display: flex;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  /* top: 50%; */
  width: auto;
  /* margin-top: -2.2rem; */
  padding: 1.6rem;
  color: #ffffff;
  font-weight: bold;
  opacity: 0.5;
  font-size: 1.8rem;
  transition: 0.6s ease;
  border-radius: 0 0.3rem 0.3rem 0;
}

.next {
  right: 5rem;
  border-radius: 0.3rem 0 0 0.3rem;
}

.prev {
  left: 5rem;
  border-radius: 0.3rem 0 0 0.3rem;
}

.prev:hover,
.next:hover {
  color: #f2f2f2;
  font-size: 2.2rem;
  opacity: 1;
}

.dot {
  cursor: pointer;
  height: 0.7rem;
  width: 0.7rem;
  margin: 0 0.7rem;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  /* background-color: #717171; */
  height: 1.1rem;
  width: 1.1rem;
}

.dot:hover {
  background-color: #717171;
}

.text-slide {
  font-size: 2rem;
  padding: 0.8rem 1.2rem;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.depositions-overlay h1 {
  margin: 2.5rem 0 2.5rem 0;
  font-family: var(--font-titles);
  color: #ffffff;
  width: 100%;
  font-size: 4rem;
  font-weight: 600;
  position: relative;
}
.slideshow-container {
  max-width: 100rem;
  position: relative;
  margin: auto;
  margin-top: 4rem;
  width: 75%;
  padding: 2rem;
}
.mySlides p {
  font-size: 1.5rem;
}
/* Depoimentos */
.textdepositions {
  line-height: 2rem;
  color: #ffffff;
  font-weight: 300;
}
.profdepositions {
  color: #a0a0a0;
  margin-top: 0.2rem;
}

.namedepositions {
  margin-top: 2rem;
  font-weight: 500;
  color: #ffffff;
}

.depositions-dots {
  margin-top: 5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* Rodape */

footer {
  background-color: #282828;
  min-height: 50vh;
}

.footer-contact-sub {
  /* position: absolute; */
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  justify-content: center;
}

.footer-contact-sub i {
  padding: 1rem;
  justify-content: center;
}

.footer-contact {
  text-align: center;
  justify-content: center;
}

.footer-content img {
  width: 100%;
  height: 11.5rem;
}

.footer-menu {
  list-style: none;
  display: grid;
  gap: 1.4rem;
  text-align: center;
}

.footer-menu-active {
  color: var(--bg-color);
}

.footer-menu li {
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 500;
}

.footer-menu li.footer-menu-active {
  color: var(--bg-color);
}

.footer-contact p {
  font-size: 1.3rem;
  color: #ffffff;
  width: 25rem;
  margin-top: 1rem;
}

.footer-contact h4 {
  font-weight: 600;
  color: var(--text-color);
  font-size: 1.8rem;
}

.footer-content {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;
}

.footer-developed {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* padding: 2rem;   */
}

.footer-developed p {
  font-size: 1.3rem;
  color: #ffffff;
}

.row-white {
  background: #ffffff;
  width: 90%;
  height: 0.1rem;
  margin: 1rem 1rem;
}

/* Botão do WhatsApp */

.float {
  position: fixed;
  width: 6rem;
  height: 6rem;
  bottom: 4rem;
  right: 1rem;
  background-color: #25d366;
  color: #fff;
  border-radius: 5rem;
  text-align: center;
  font-size: 3rem;
  box-shadow: 0.2rem 0.2rem 0.3rem #999;
  z-index: 100;
  animation: wiggle 2.5s infinite;
  cursor: pointer;
}

.my-float {
  margin-top: 1.6rem;
  animation: wiggle 2.5s infinite;
}

.popup {
  position: fixed;
  width: 28.3rem;
  min-height: 33.6rem;
  height: 6rem;
  bottom: 10rem;
  right: 5.3rem;
  z-index: 1000;
  background-color: #ffffff;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  -webkit-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
}

.popup-content {
  padding: 1rem;
}

.popup-content form {
  display: grid;
  gap: 0.5rem;
}

.popup-content form input {
  outline: none;
  padding: 0.7rem;
  border-radius: 0.3rem;
  border: var(--bg-color) 1px solid;
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
}

.popup-content form textarea {
  outline: none;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: var(--bg-color) 1px solid;
}

.popup-content form label {
  font-size: 1.4rem;
  font-weight: 500;
}

.btn-form-container {
  margin: auto;
}

.btn-form-popup {
  padding: 0.4rem;
  outline: none;
  border: 0;
  background: var(--bg-color);
  border-radius: 0.7rem;
  width: 15rem;
  height: 4rem;
  font-weight: 800;
  font-size: 1.2rem;
  color: var(--text-color);
  -webkit-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

/* Animações */

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(0deg);
  }

  85% {
    transform: rotate(5deg);
  }

  95% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Responsividade */

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .navigation ul li {
    background: none;
  }

  .navigation ul {
    background: none;
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  .icons {
    padding-bottom: 0;
  }

  i#burger {
    display: none;
  }
  menu {
    display: block;
  }
  menu > ul > li {
    display: inline-block;
  }

  .navigation ul li.onActive::before {
    content: "";
    position: absolute;
    width: 4.7rem;
    height: 0.3rem;
    background-color: var(--text-color);
    bottom: 0;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }

  .slider .content {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin-top: 15rem;
    margin-left: 10rem;
    width: 50%;
  }

  .about-us .content {
    display: grid;
    grid-template-columns: 2fr;
    place-content: center;
  }

  .team {
    width: 56rem;
    height: 40rem;
  }

  .about-us {
    height: 143rem;
  }

  .about-us .content {
    padding: 2rem 10rem;
  }

  .about-us .content .wrapper p {
    font-size: 1.5rem;
  }

  .about-us .content .wrapper .texts {
    text-align: left;
  }

  .btn-about-us {
    margin: 0;
  }

  .content-services {
    display: grid;
  }

  .about-us .content .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    place-items: center;
    gap: 1rem;
  }

  .card {
    max-width: 51.6rem;
    max-height: 22rem;
    padding-bottom: 2rem;
  }

  .cardContent p {
    font-size: 1.3rem;
  }

  .benefits {
    margin: 0;
    height: 45rem;
  }

  .benefitsCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .numbers {
    min-height: 20rem;
  }

  .numbers-content {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  .numbers-cards {
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .portfolio .portfolio-content .wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .portfolio .portfolio-content .wrapper a img {
    height: 22rem;
  }

  .numbers-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 6rem;
  }

  .number-card {
    display: grid;
    place-content: center;
    place-items: center;
    gap: 2rem;
    width: 22rem;
    height: 16rem;
    background: var(--bg-color);
    border-radius: 0.3rem;
    -webkit-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
    box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  }

  .number-card span {
    color: var(--text-color);
    font-size: 6rem;
    font-weight: 600;
  }

  .number-card h4 {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-color);
  }
}
