:root {
  --bg-color-transition: #00536e;
  --bg-color: #114977;
  --text-color: #ffffff;
  --font-global: "Montserrat", sans-serif;
  --font-titles: "Quicksand", sans-serif;
}

body {
  width: fit-content;
}

body * {
  font-family: var(--font-global);
}

header nav {
  height: 10rem;
  background-color: var(--bg-color);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#logo {
  width: 22rem;
  height: 7.4rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

ul li {
  font-weight: 600;
  color: var(--text-color);
  font-size: 1.6rem;
}

#icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#icons i {
  font-size: 1.9rem;
}

#main {
  height: auto;
  position: relative;
  width: 100%;
  background: url("../images/image3.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#bg {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.9;
}

#slider {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  position: relative;
}

#slider #bg-slider {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--bg-color);
  z-index: 1;
  opacity: 0.3;
}

#slider #content {
  position: absolute;
  z-index: 10;
  padding: 1rem;
  height: 100%;
  margin-left: 7rem;
  margin-top: 3rem;
  z-index: 2;
}

#content p {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--text-color);
  margin-top: 4rem;
  font-size: 1.5rem;
}

#content h3 {
  color: var(--text-color);
  margin-top: 4rem;
  font-weight: 300;
  font-size: 7rem;
  width: 50%;
}

#content h4 {
  font-weight: 500;
  color: var(--text-color);
  margin-top: 4rem;
  font-size: 1.5rem;
}

#slider img {
  width: 100%;
  position: absolute;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s;
}

#slider img.selected {
  opacity: 1;
}

#about-us {
  padding: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-content: center;
  gap: 2rem;
}

#about-texts {
  z-index: 10;
}

#about-texts h1 {
  color: var(--bg-color);
  font-weight: 800;
  font-size: 4rem;
  text-transform: uppercase;
  position: relative;
  margin-top: 1rem;
}

#about-texts h1::before {
  content: "";
  width: 19rem;
  height: 0.6rem;
  background-color: var(--bg-color);
  position: absolute;
  left: 0.2rem;
  bottom: -0.9rem;
  border-radius: 0.3rem;
}

#about-texts > p {
  margin-top: 3rem;
  font-size: 1.6rem;
  font-weight: 400;
}

#about-images {
  z-index: 10;
}

#about-images img {
  width: 56rem;
  height: 40rem;
  border-radius: 0.6rem;
  -webkit-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
}

/* Botão da seção quem somos  */
#btn-about-texts {
  margin-top: 3rem;
  padding: 0.8rem;
  outline: none;
  border: 0;
  background: var(--bg-color);
  border-radius: 0.7rem;
  width: 20rem;
  height: 4rem;
  font-weight: 800;
  font-size: 1.3rem;
  color: var(--text-color);
  text-transform: uppercase;
  -webkit-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

#btn-about-texts:hover {
  /* background-color: var(--bg-color-transition) ; */
  transition-delay: 0ms;
  transition-duration: 0.4s, 0.3s, 0.3s, 0.3s;
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes pulse {
  0% {
    background: rgba(17, 73, 119, 1);
  }

  100% {
    background: rgb(7, 29, 48);
  }
}

#services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#services * {
  z-index: 10;
}

#services h2 {
  margin-top: 2rem;
  color: var(--bg-color);
  text-align: center;
  font-weight: 500;
  font-size: 4.5rem;
  font-family: var(--font-titles);
  letter-spacing: 10px;
}

#row1 {
  width: 19rem;
  height: 0.3rem;
  background-color: #114977;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

#row2 {
  width: 9rem;
  height: 0.3rem;
  background-color: #007ba5;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

/* Vantagens */

#vantagens * {
  z-index: 10;
}

#bg-vantagens {
  background: url("../images/image5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100%;
}

#vantagens-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  opacity: 0.9;
}

#vantagens {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#vantagens h2 {
  margin-top: 2rem;
  color: var(--bg-color);
  text-align: center;
  font-weight: 500;
  font-size: 4.5rem;
  font-family: var(--font-titles);
  letter-spacing: 1rem;
}

#vantagens h3 {
  color: var(--bg-color);
  text-align: center;
  font-family: var(--font-titles);
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}

#portfolio * {
  z-index: 10;
}

#portfolio {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#portfolio h2 {
  margin-top: 2rem;
  color: var(--bg-color);
  text-align: center;
  font-weight: 500;
  font-size: 4.5rem;
  font-family: var(--font-titles);
  letter-spacing: 1rem;
}

#portfolioExamples {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 3rem;
}

#portfolioExamples img {
  width: 35.4rem;
  height: 26.9rem;
  border-radius: 0.6rem;
  -webkit-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
}

#btn-portfolio {
  margin-top: 3rem;
  padding: 0.8rem;
  outline: none;
  border: 0;
  background: var(--bg-color);
  border-radius: 0.7rem;
  width: 30rem;
  height: 4rem;
  font-weight: 600;
  font-size: 1.7rem;
  color: var(--text-color);
  -webkit-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

#btn-portfolio:hover {
  transition-delay: 0ms;
  transition-duration: 0.4s, 0.3s, 0.3s, 0.3s;
  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

#benefits {
  width: 106.5rem;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  padding-bottom: 2rem;
}

#benefitsCard {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 1rem;
  justify-content: space-around;
}

#benefitsCard i {
  font-size: 4rem;
}

#benfitsCardText {
  width: 100%;
}

#benfitsCardText h4 {
  color: var(--bg-color);
  font-weight: 500;
  font-size: 3rem;
}

#benfitsCardText p {
  font-weight: 400;
  margin-top: 1rem;
  font-size: 1.4rem;
  line-height: 2rem;
}

/* Parcerias */
#Gp-Lines-2 {
  display: inline;
  float: right;
  text-align: right;
  align-items: right;
  height: 2.5rem;
  margin: 0rem;
}

#Gp-Lines-1 {
  height: 2.5rem;
  display: inline;
}

#line1 {
  background: linear-gradient(
    90deg,
    rgba(17, 73, 119, 1) 0%,
    rgba(0, 123, 165, 1) 50%,
    rgba(17, 73, 119, 0) 100%
  );
  width: 35rem;
  height: 0.3rem;
  margin-top: 1rem;
  border-radius: 0rem 0rem 5rem 0rem;
}

#line2 {
  background: linear-gradient(
    90deg,
    rgba(17, 73, 119, 1) 0%,
    rgba(0, 123, 165, 1) 50%,
    rgba(17, 73, 119, 0) 100%
  );
  width: 20rem;
  height: 0.3rem;
  margin-top: 0.5rem;
  border-radius: 0rem 0rem 5rem 0rem;
}

#line3 {
  background: linear-gradient(
    -90deg,
    rgba(17, 73, 119, 1) 0%,
    rgba(0, 123, 165, 1) 50%,
    rgba(17, 73, 119, 0) 100%
  );
  width: 35rem;
  height: 0.3rem;
  margin-top: 1rem;
  border-radius: 0rem 0rem 0rem 5rem;
}

#line4 {
  background: linear-gradient(
    -90deg,
    rgba(17, 73, 119, 1) 0%,
    rgba(0, 123, 165, 1) 50%,
    rgba(17, 73, 119, 0) 100%
  );
  float: right;
  width: 15rem;
  height: 0.3rem;
  margin-top: 0.5rem;
  border-radius: 0rem 0rem 0rem 5rem;
}

#parcerias {
  padding-top: 0.5rem;
  background-color: #ffffff;
  height: 17rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

#header-partnerships {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#parcerias h3 {
  margin: 0rem 1rem 0rem 1rem;
  font-size: 2rem;
  text-align: center;
  font-family: var(--font-titles);
  /* text-transform: uppercase; */
  color: var(--bg-color);
  letter-spacing: 0.2rem;
  height: 2.5rem;
}
.carousel {
  width: 100%;
  height: 20rem;
  display: grid;
  position: relative;
  overflow: hidden;
  /* place-items: center; */
}

.carousel-track {
  display: flex;
  width: calc(40rem * 10);
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-25rem * 5));
  }
}

.carousel-item {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  width: 25rem;
  height: 20rem;
}

.carousel-item img {
  width: 100%;
  height: 20rem;
}

/* .carousel::before, 
.carousel::after{
  background: linear-gradient(to right,  rgba(0,123,165,1) 0%,rgba(0,123,165,0) 100%); 
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.carousel::before{
  left: 0;
  top: 0;
}
.carousel::after{
  right: 0;
  top: 0;
  transform: rotateZ(180deg); 
} */

/* Cards */

#cards {
  margin-top: 2rem;
  column-count: 2;
  column-gap: 2rem;
}

#card {
  padding: 1rem 2rem 1rem 1rem;
  width: 54.6rem;
  height: 22rem;
  background-color: #007ba5;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  -webkit-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  display: flex;
  gap: 2rem;
}

#card:hover {
  background-color: var(--bg-color-transition);
  transition-delay: 0ms;
  transition-duration: 0.4s, 0.3s, 0.3s, 0.3s;
}

#card .circle {
  width: 10rem;
  height: 10rem;
  border: 0.1rem solid #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 1rem;
}

#servicesDigitalCard .circle {
  width: 10rem;
  height: 10rem;
  border: 0.1rem solid #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

#cardContent {
  width: 70%;
}

#cardContent h3 {
  color: var(--text-color);
  font-weight: 400;
  font-size: 3.5rem;
  margin-top: 2rem;
}

#cardContent p {
  font-weight: 300;
  color: var(--text-color);
  margin-top: 1rem;
  font-size: 1.4rem;
  /* line-height: 1.4rem; */
  text-align: justify;
}

/* Serviços */

#servicesDigitalCardContent {
  width: 100%;
}

#servicesDigitalCardContent h3 {
  color: var(--text-color);
  font-weight: 400;
  font-size: 2rem;
  /* margin-top: 2rem; */
}

#servicesDigitalCardContent p {
  color: var(--text-color);
  font-weight: 300;
  margin-top: 1rem;
  font-size: 0.9rem;
  line-height: 1.4rem;
}

#servicesDigitalCardContent a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 200;
  margin-top: 1rem;
  font-size: 0.7rem;
  line-height: 1.4rem;
}

#services-digital {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  padding-bottom: 2rem;
  gap: 1rem;
}

#services-digital * {
  z-index: 10;
}

#servicesDigitalContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#servicesDigitalTexts {
  width: 30%;
}

#servicesDigitalTexts p {
  border-left: var(--bg-color) 0.15rem solid;
  padding-left: 0.4rem;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.9rem;
}

#servicesDigitalTexts h3 {
  font-size: 3rem;
  font-family: var(--font-titles);
  text-transform: uppercase;
  color: var(--bg-color);
  letter-spacing: 0.5rem;
  width: 20%;
}

#servicesDigitalCard:hover {
  background-color: var(--bg-color-transition);
  transition-delay: 0ms;
  transition-duration: 0.4s, 0.3s, 0.3s, 0.3s;
}

#servicesDigitalCard {
  padding: 1rem;
  width: 32rem;
  height: 31.6rem;
  background-color: #007ba5;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.4rem;
  -webkit-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
}

#numbers {
  width: 100%;
  height: 30.1rem;
  background: url("../images/image4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  position: relative;
  margin-top: 3rem;
}

#numbers #numbers-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(180deg, #114977 0%, #1149778c 100%);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.91;
}

#numbersContent {
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#numbersContent h2 {
  margin-left: 4rem;
  font-size: 4.5rem;
  color: var(--text-color);
  font-family: var(--font-titles);
  font-weight: 400;
  /* line-height: 9.0rem; */
}

#numbersCardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  position: absolute;
  right: 7rem;
  top: 20rem;
}

#numbersCard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 21.6rem;
  height: 17.6rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  -webkit-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  box-shadow: 1rem 1rem 3.4rem -1.3rem rgba(0, 0, 0, 0.75);
  border-radius: 0.6rem;
}

#numbersCard h4 {
  font-family: var(--font-global);
  font-weight: 400;
  font-size: 1.4rem;
}

.num {
  font-family: var(--font-global);
  font-size: 5.5rem;
  font-weight: 700;
}

/* Button Whatsapp  */
.float {
  position: fixed;
  width: 6rem;
  height: 6rem;
  bottom: 4rem;
  right: 4rem;
  background-color: #25d366;
  color: #fff;
  border-radius: 5rem;
  text-align: center;
  font-size: 3rem;
  box-shadow: 0.2rem 0.2rem 0.3rem #999;
  z-index: 100;
  animation: wiggle 2.5s infinite;
}

.my-float {
  margin-top: 1.6rem;
  animation: wiggle 2.5s infinite;
}

/* Depoimentos */

.mySlides {
  display: none;
}

.text {
  font-size: 1.5rem;
  padding: 0.8rem 1.2rem;
  bottom: 0.8rem;
  width: 100%;
  text-align: center;
}
/* slideshow-container */
.butt-depositions {
  align-items: center;
  justify-content: center;
  display: flex;
}

.depositions-btts {
  margin-top: 0;
  position: absolute;
  width: 100%;
  height: 10rem;
  float: initial;
  display: flex;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  /* top: 50%; */
  width: auto;
  /* margin-top: -2.2rem; */
  padding: 1.6rem;
  color: #ffffff;
  font-weight: bold;
  opacity: 0.5;
  font-size: 1.8rem;
  transition: 0.6s ease;
  border-radius: 0 0.3rem 0.3rem 0;
}

.next {
  right: 5rem;
  border-radius: 0.3rem 0 0 0.3rem;
}

.prev {
  left: 5rem;
  border-radius: 0.3rem 0 0 0.3rem;
}

.prev:hover,
.next:hover {
  color: #f2f2f2;
  font-size: 2.2rem;
  opacity: 1;
}

.dot {
  cursor: pointer;
  height: 0.7rem;
  width: 0.7rem;
  margin: 0 0.7rem;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  /* background-color: #717171; */
  height: 1.1rem;
  width: 1.1rem;
}

.dot:hover {
  background-color: #717171;
}

.text-slide {
  font-size: 2rem;
  padding: 0.8rem 1.2rem;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

#depositions-overlay h1 {
  margin: 2.5rem 0 2.5rem 0;
  font-family: var(--font-titles);
  color: #ffffff;
  width: 100%;
  font-weight: 200;
  font-size: 3rem;
  position: relative;
}
.slideshow-container {
  max-width: 100rem;
  position: relative;
  margin: auto;
  margin-top: 12rem;
  width: 75%;
}
.mySlides p {
  font-size: 1.5rem;
}
/* Depoimentos */
.textdepositions {
  line-height: 2rem;
  color: #ffffff;
  font-weight: 300;
}
.profdepositions {
  color: #a0a0a0;
  margin-top: 0.2rem;
}

.namedepositions {
  margin-top: 2rem;
  font-weight: 500;
  color: #ffffff;
}

.depositions-dots {
  margin-top: 5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

#depositions {
  background: url("../images/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
  text-align: center;
}

#depositions-overlay {
  border: #00536e solid 0.1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  opacity: 0.93;
  z-index: 0;
}

#footer {
  /* margin-top: 5rem; */
  background-color: #282828;
  height: 40vh;
}

#footerContent {
  display: grid;
  grid-template-columns: repeat(4, calc(100% / 4));
  place-items: center;
  place-content: center;
  padding: 1rem;
  height: 100%;
}

/* #footerContent * {
  display: flex;
  align-items: center;
  justify-content: center;
} */

#footerContent img {
  width: 29.6rem;
  height: 12rem;
}

#footerMenu {
  display: block;
  list-style: none;
  text-align: center;
}

#footerMenu li {
  margin: 0.8rem 0;
  color: var(--text-color);
  font-size: 1.5rem;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}

.waveContainer {
  margin-top: 2.5rem;
  transform: rotate(180deg);
}

.wave {
  fill: var(--bg-color);
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(0deg);
  }

  85% {
    transform: rotate(5deg);
  }

  95% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Responsividade */

@media only screen and (min-width: 320px) {
  header nav {
    height: 10rem;
    background-color: green;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 768px) {
  header nav {
    height: 10rem;
    background-color: red;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
