body * {
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-color: #1d1d1d;
}

main {
  height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.menu {
  background-color: #000000;
  max-height: 85vh;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}

.p-2 {
  padding: 3rem;
}

.menu-nav {
  padding: 0rem 3rem 3rem 3rem;
}

.logo {
  width: 18rem;
}

a {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.folder-container {
  gap: 4rem;
}

.icons-menu {
  width: 2rem;
  height: 2rem;
}

ul {
  all: unset;
  list-style: none;
  display: grid;
  gap: 1.5rem;
}

li {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 1.5rem;
}

.playlist-li {
  color: #a3a3a3;
}

.current-song {
  display: flex;
  justify-content: end;
}

.main {
  background: linear-gradient(
    173.15deg,
    rgba(31, 109, 173, 0.21) 6.21%,
    rgba(30, 30, 30, 0) 95.48%
  );
  padding: 1rem;
  overflow-y: scroll;
}

.link-btn-sub {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
.btn-sub {
  width: 19rem;
  height: 3.5rem;
  border-radius: 10rem;
  outline: none;
  border: 0;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.6rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  margin: 1rem 2rem 0 0;
}

.main::-webkit-scrollbar {
  display: none;
}

.btn-sub .icon {
  background: #fff;
  /* margin-left: -2rem;   */
  height: 2.9rem;
  width: 2.9rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-icon {
  width: 2.2rem;
  height: 2.2rem;
}

.arrow {
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 1rem;
}

.container {
  margin-top: 5rem;
  padding-left: 2rem;
}

.container span {
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
}

.container h1 {
  color: #fff;
  font-weight: 700;
  font-size: 5rem;
  line-height: 16.4rem;
}

.btn-play {
  background: #309bf378;
  width: 4rem;
  height: 4rem;
  outline: none;
  border-radius: 100%;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-left: 0.2rem;
}

.btn-play i {
  font-size: 2rem;
}

.player {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.c-infos {
  margin-top: 5rem;
  display: grid;
  place-content: center;
  place-items: center;
  gap: 4rem;
}

.c-infos h2 {
  color: #fff;
  font-weight: 700;
  font-size: 2.2rem;
}

.c-infos h3 {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
}

.song-infos {
  display: grid;
  gap: 1rem;
  padding: 2rem;
}

.song-name {
  font-weight: 500;
  font-size: 1.3rem;
  color: #fff;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.song-name i {
  color: #309bf3;
  font-size: 2rem;
}

.song-artist {
  color: #d3d3d3;
  font-weight: 400;
}

.bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.progress {
  width: 80%;
  background-color: #fff;
  height: 0.5rem;
  border-radius: 5rem;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0%;
  transition: width 2s ease-in-out;
  background: #309bf3;
  z-index: 1;
  border-radius: 1rem;
}

.controls {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  padding: 1rem 0;
  margin-bottom: 0.5rem;
}

.play {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play i {
  font-size: 2rem;
}

.shuffle {
  width: 2rem;
  height: 2rem;
}

.shuffle-container {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 0.7rem;
}

.shuffle-container .active {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #309bf3;
  border-radius: 100%;
}

.return {
  width: 2rem;
  height: 2rem;
}

.next {
  width: 2rem;
  height: 2rem;
}

.cicle {
  width: 2rem;
  height: 2rem;
}

.dj {
  width: 100%;
  height: 25rem;
}

.player {
  background-color: #111;
  height: 15vh;
}

.dj-mobile {
  display: none;
}

i.heart {
  display: none;
}

i.headphones {
  display: none;
}

.line-menu {
  margin: 2rem 0;
  height: 0.1rem;
  width: 100%;
  background-color: #a3a3a3;
}

.folder-menu {
  color: #a3a3a3;
}

.playlists {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.play-list {
  max-width: 24.8rem;
  max-height: 30.3rem;
  background: #2b2b2b;
  border-radius: 0.6rem;
  padding: 2rem;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 1rem;
}

.negocios {
  width: 100%;
  height: 80%;
  border-radius: 0.6rem;
}

.gente-e-gestao {
  width: 100%;
  height: 80%;
  border-radius: 0.6rem;
}

.produto {
  width: 100%;
  height: 80%;
  border-radius: 0.6rem;
}

.playlist-play {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #309bf3b0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 1rem;
  bottom: 18%;
  display: none;
  opacity: 0;
}

.play-list:hover .playlist-play {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: op forwards 0.5s;
}

@keyframes op {
  to {
    opacity: initial;
  }
}

.playlist-play i {
  font-size: 3rem;
}

.play-list span {
  text-transform: none;
  font-weight: 500;
  color: #fff;
}

.play-list p {
  color: #a3a3a3;
  font-weight: 400;
}

/*

  Responsividade

*/

@media screen and (max-width: 768px) {
  .content {
    display: block;
    position: relative;
    width: 100%;
    min-height: 100%;
  }

  .logo {
    display: none;
  }

  .current-song {
    display: none;
  }

  nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  nav li {
    display: none;
  }

  .p-2 {
    padding: 0;
  }

  .menu {
    width: 100%;
    height: 4rem;
    background: #11111134;
    position: absolute;
    bottom: 0;
    padding-bottom: 5rem;
    z-index: 1;
  }

  .container {
    margin-top: 10rem;
  }

  .container h1 {
    line-height: 8rem;
  }

  .btn-play {
    margin-top: 3rem;
  }

  .c-infos h2 {
    text-align: center;
  }

  .player {
    width: 100%;
    height: 5rem;
    position: fixed;
    bottom: 5.8rem;
    border-radius: 0.5rem;
  }

  .bar {
    display: block;
    position: absolute;
    bottom: 0;
    left: 2rem;
    width: 100%;
  }

  .progress {
    width: 90%;
    height: 0.2rem;
    border-radius: 0.1rem;
  }

  .shuffle-container {
    display: none;
  }

  .return {
    display: none;
  }

  .next {
    display: none;
  }

  .cicle {
    display: none;
  }

  .play {
    background: transparent;
    width: 0;
    height: 0;
  }

  .play i {
    color: #fff;
  }

  .controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5rem;
    margin-bottom: 0.3rem;
  }

  .song-infos {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dj-mobile {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.5rem;
  }

  .song-name i {
    display: none;
  }

  i.heart {
    display: block;
    font-size: 2rem;
    color: #309bf3;
  }

  i.headphones {
    display: block;
    font-size: 2rem;
    color: #fff;
  }

  .line-menu {
    display: none;
  }

  .folder-container {
    display: none;
  }

  .playlists {
    flex-wrap: wrap;
    padding-bottom: 10rem;
  }
}
